:root {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  --primary-color: #313232;
  --secondary-color: #3b3b3a;
  --text-color: #706f6d;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Raleway", sans-serif;
  color: var(--text-color);
  margin:0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}
/* FONT IMPORT */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,800;1,600&display=swap");

/* UTILITY */

.py {
  padding: 3rem 0;
}

/* HEADER */

header {
  width: 100%;
  background-color: var(--primary-color);
  color: #fff;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#hamburger {
  display: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 0;
  border: 0;
}
#hamburger:focus {
  outline: none;
}

#navigation .logo h3 {
  font-size: 20px;
  font-family: inherit;
  font-weight: 800;
}
#navigation .logo h3 {
  color: #fff;
}
#navigation .logo {
  text-decoration: none;
  color: #fff;
}
#nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
}

#nav-ul #header .navigation ul,
#footer #footer-nav ul {
  list-style: none;
}

#nav-ul li,
#footer-bottom #footer-nav ul li {
  display: inline-block;
  padding: 0 1rem;
}
#nav-ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

#header .icons i {
  padding: 0 0.7rem;
  color: #fff;
  font-size: 20px;
}
/* HEADER HERO */
#header-hero {
  width: 100%;
  background: url(../images/header_hero.jpg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

#header-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#header-hero h1 {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 800;
}

#header-hero a {
  display: block;
  width: 160px;
  height: 40px;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  font-family: inherit;
  text-decoration: none;
  line-height: 40px;
}
/* FEATURES */

#features .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  -ms-flex-line-pack: center;
  align-content: center;
  justify-items: center;
  text-align: center;
}

#features .feature-img i {
  font-size: 32px;
}

#features .feature-text h4 {
  font-size: 18px;
  color: var(--primary-color);
}

/* PRODUCTS GRID */
#products .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr) [3];
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "sofa beds beds lamps"
    "sofa armchairs chairs textile"
    "cabinets cabinets chairs decoration";
}

.product-image:hover {
  cursor: pointer;
  opacity: 0.9;
  background: transparent;
}

.product-image h4 {
  text-align: left;
  margin-left: 2.2rem;
  font-weight: 600;
  color: var(--primary-color);
  font-size: 1.5rem;
}

#sofas {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  background-image: url(../images/sofa.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-area: sofa;
}

#cabinets {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  background-image: url(../images/cabinet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-area: cabinets;
}

#beds {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  background-image: url(../images/bed.jpg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-area: beds;
}

#armchairs {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  background-image: url(../images/armchair.jpg);
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-area: armchairs;
}

#chairs {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  background-image: url(../images/chairs.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-area: chairs;
}

#lamps {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  background-image: url(../images/lamp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-area: lamps;
}

#textile {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  background-image: url(../images/pillows.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-area: textile;
}

#decoration {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  background-image: url(../images/decoration.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  grid-area: decoration;
}

/* NEWSLETTER */
#newsletter {
  text-align: center;
}

#newsletter .newsletter-text h3 {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
}
#newsletter .newsletter-text h3 span {
  font-size: 23px;
  color: var(--primary-color);
  font-weight: 800;
}
#newsletter .newsletter-text p {
  font-size: 15px;
}

#newsletter .newsletter-input input {
  background: #f5f5f5;
  width: 420px;
  height: 70px;
  border: none;
}
input::-webkit-input-placeholder {
  padding-left: 0.5rem;
  font-size: 15px;
  font-family: inherit;
}
input::-moz-placeholder {
  padding-left: 0.5rem;
  font-size: 15px;
  font-family: inherit;
}
input:-ms-input-placeholder {
  padding-left: 0.5rem;
  font-size: 15px;
  font-family: inherit;
}
input::-ms-input-placeholder {
  padding-left: 0.5rem;
  font-size: 15px;
  font-family: inherit;
}
input::placeholder {
  padding-left: 0.5rem;
  font-size: 15px;
  font-family: inherit;
}
#newsletter .newsletter-input a {
  width: 100px;
  height: 70px;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 25px;
  line-height: 70px;
}

#newsletter .newsletter-input a i {
  margin-top: 1rem;
}

.newsletter-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* ABOUT */

#about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
#about .wrapper h2 {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: 800;
  margin-left: 2rem;
}
#about .wrapper .text {
  border-left: var(--primary-color) solid 1px;
  border-width: 30%;
}

#about .wrapper p {
  margin-left: 2rem;
  font-size: 18px;
  line-height: 1.5;
}

/* FOOTER */
#footer {
  background-color: var(--primary-color);
  color: #fff;
}

#footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#footer .footer-about i .span {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-left: 1rem;
}
#footer .footer-about .payment {
  margin-top: 1rem;
}
#footer .footer-about .payment i {
  padding: 0.5rem;
}

#footer .services ul {
  list-style: none;
}

#footer .services {
  text-align: left;
}
#footer .services h3 {
  text-align: center;
}

#footer .services ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  text-align: left;
  display: block;
  margin: 0.5rem 0;
}

/* FOOTER - BOTTOM */
#footer-bottom .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#footer-bottom #footer-nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 400;
}

#footer-bottom #social-icons i {
  padding: 0 0.7rem;
  color: var(--primary-color);
  font-size: 20px;
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 55%;
    width: 100%;
  }
  p {
    font-size: 1rem;
  }
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
  #nav-ul {
    display: none;
    width: 100%;
  }
  #nav-ul.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
  #nav-ul.show li {
    color: #fff;
    padding: 0.5rem 0;
    font-size: 1rem;
  }
  #hamburger {
    display: block;
  }
  .hero-content {
    text-align: center;
  }
  #header-hero .hero-content p {
    font-size: 1rem;
  }
  .hero-content a {
    margin: 0 auto;
    font-size: 1rem;
  }
  #features .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
  #products .wrapper {
    display: block;
  }
  #products .wrapper .product-image {
    width: 70%;
    height: 70%;
    margin: 0 auto;
  }
  #products .wrapper .product-image h4 {
    text-align: center;
    line-height: 400px;
    font-weight: bold;
  }
  #about .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #footer .footer-about {
    text-align: center;
  }
  #footer .footer-about i {
    padding: 0.5rem 0;
  }
  #footer .footer-about i .span {
    margin-left: 0.5rem;
  }
  #footer .services ul {
    padding-left: 0;
  }
  #footer .services ul li a {
    font-size: 1rem;
  }
  #footer h3 {
    font-size: 1rem;
  }
  #footer-bottom .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 1rem 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #footer-nav ul {
    padding: 1rem 0;
  }
  #footer-bottom #footer-nav ul li a,
  #footer .footer-about .payment i {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 50%;
  }
  .wrapper {
    width: 100%;
  }
  header nav {
    padding: 1rem;
  }
  #header-hero {
    height: 60vh;
    background-position: center center;
  }
  #header-hero a {
    margin-top: 1rem;
    font-size: 1rem;
  }
  #header-hero h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  #features .wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  #products .wrapper .product-image {
    width: 90%;
    height: 90%;
  }
  #newsletter {
    width: 90%;
    margin: 0 auto;
  }
  .about-img img {
    width: 100%;
  }
}
